@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");

#LeaderboardPage {
  .header-section {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid white;

    h1 {
      margin: 0;
    }
  }

  .choose-mode-section {
    display: flex;
    border: 1px solid white;
    justify-content: center;
    gap: 20px;
  }

  .leaderboard-content-section {
    height: 85%;
    border: 1px solid white;
  }

  .box-button {
    display: flex;
    justify-content: center;
  }

  .button {
    font-family: "Quantico";
  }

  .title {
    font-size: 40px;
    font-family: "Quantico";
  }
}
